profiles {
    singularity {
        singularity.runOptions = "--writable-tmpfs"
        singularity.runOptions = "-B /uufs/chpc.utah.edu/common/home/:/uufs/chpc.utah.edu/common/home/"
    }
    roundlab_lp {
        process.executor       = 'slurm'
        process.cpus           = 4
        process.memory         = '8 GB'
        process.queue          = 'lonepeak-shared'
        process.clusterOptions = '-A round'
    }
    roundlab_np {
        process.executor       = 'slurm'
        process.cpus           = 4
        process.memory         = '8 GB'
        process.queue          = 'notchpeak-shared'
        process.clusterOptions = '-A round'
    }
    roundlab_kp {
        process.executor       = 'slurm'
        process.cpus           = 4
        process.memory         = '8 GB'
        process.queue          = 'kingspeak-shared'
        process.clusterOptions = '-A round'
    }
    npguest {
        process.executor       = 'slurm'
        process.cpus           = 4
        process.memory         = '8 GB'
        process.queue          = 'notchpeak-shared-guest'
        process.clusterOptions = '-A owner-guest'
        executor.retry.maxAttempt = 5
    }
}

params {
    config_profile_description = 'mag'
    config_profile_contact = 'Zac Stephens'
}

process {
    withName: BOWTIE2_PHIX_REMOVAL_ALIGN {
        memory = 48.GB
        cpus = 24
    }
    withName: FASTP {
        cpus = 16
    }
    withName: BOWTIE2_HOST_REMOVAL_ALIGN {
        cpus = 24
        memory = 24.GB
        time = 12.h
    }
    withName: KRAKEN2 {
        memory = 196.GB
    }
    withName: MEGAHIT {
        memory = 156.GB
    }
    withName: SPADES {
        memory = 124.GB
    }
    withName: CONCOCT_CONCOCT {
        cpus   = 12
        memory = 120.GB
        time   = 23.h
    }
    withName: CHECKM_LINEAGEWF {
        memory = 48.GB
        time   = 23.h
    }
    scratch = true
}

executor {
    queueSize = 72
    name = 'slurm'
}
